body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: white;
}
.dark body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: black;
}
/* backgroud pattern  */
/* Phone */
@media (max-width: 599px) {
  body {
    background-image: url("https://i.ibb.co/3ChSW0j/mobile.png");
    background-position: top;
    background-repeat: no-repeat;
    z-index: 100;
    position: relative;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  body {
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-image: url("https://i.ibb.co/56hWDVQ/mobile.png");
    z-index: 100;
    position: relative;
  }
}

/* PC */
@media (min-width: 1024px) {
  .dark body {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://i.ibb.co/2WXn8zp/background-pattern.png");
    z-index: 100;
    position: relative;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://i.ibb.co/PFQRRb5/background-pattern.png");
    z-index: 100;
    position: relative;
  }
}
/* fonts  */
.lato_font {
  font-family: Lato;
}
.rubik_font {
  font-family: Rubik;
}

/* for templats section  */
.dark .pattern {

  background-image: url("https://i.ibb.co/mzkdQVz/pattern-1.png");
  background-position: top;
  background-repeat: no-repeat;
}
.pattern {
  background-position: top;
  background-repeat: no-repeat;
    background-image: url("https://i.ibb.co/PFQRRb5/background-pattern.png");
   
  }
/* waht we do  (pattern Image )*/
.pattern5 {
  background-image: url("https://i.ibb.co/T0CZrbC/background-pattern-1.png");
  background-position: right top;
  background-repeat: no-repeat;
  /* background-color: red; */
  background-size: contain;
}

.relative:hover .overlay {
  opacity: 1;
}
/* for home page  */
@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
}

.lighting {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  background-image: url("https://i.ibb.co/FwQLdpY/sport-lights.png");
  background-size: contain;
  background-position: center top;
  background-repeat: repeat;
  animation: moveLeftRight 3s ease-in-out infinite;
  z-index: -1; /* Ensures it's behind other content */
}

/* active route  */
.active {
  color: #e51736;
}
/* for smooth scroll  */
html {
  scroll-behavior: smooth;
}
/* primary button  */
.primary-btn-style {
  padding: 8px 16px;
  background: linear-gradient(#e60023, #b2001b);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.16),
    inset 0 -2px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 1;
}
.primary-btn-style:hover {
  background: linear-gradient(#b2001b, #e60023);
}
/* secondary button  */
.secondary-btn-style {
  padding: 8px 16px;
  background: linear-gradient(#46464b, #26262c) !important;
  box-shadow: inset 0 1px rgba(255, 1, 1, 0.16), inset 0 -2px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 1;
}

.secondary-btn-style:hover {
  background: linear-gradient(#26262c, #46464b) !important;
}
/* primary text  */
.dark .primary-text {
  background: linear-gradient(to right, #ffffffcc, #6d7580);
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom:13px;
}
.primary-text {
  color: #3c3950;
}

.primary-border {
  border: 0.25px solid #eeeeee !important;
}
/* we din't use this animation !  */
/* animation  */
.card-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.card-border {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-border::before {
  content: "";
  background: conic-gradient(#b2001b 2%, transparent 25%);
  width: 150%;
  height: 150%;
  position: absolute;
  top: -25%;
  left: -25%;
  border-radius: 10px;
  z-index: 0;
  animation: rotate 4s linear infinite;
}

.card-border img {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid transparent;
}

.card-border:hover::before {
  background: conic-gradient(#ff0052 25%, transparent 25%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* user review  */
.dark .user-review-bg-color {
  background: linear-gradient(#2b2b2e, #131316);
  border: 0.25px solid #f5f5f547;
}
.user-review-bg-color {
  background-color: #fff5f6;
  border: 0.25px solid #f5f5f547;
}

/* slider  */
.slider-bg-color {
  position: relative;
  z-index: 10;

  background: linear-gradient(#870d28, #06060900) !important;
}
/* notice  */
.red_bg {
  background: linear-gradient(#e60023, #800013) !important;
}
.black_bg {
  background: linear-gradient(#2b2b2e, #131316) !important;
}
